:root{
    --box:white;
    --bsd:gray;
    --button: darkblue;
    --hover: orange;
    --active: green;
}
*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 450px;
    background-color: var(--box);
    box-shadow: 0 2px 15px var(--bsd);
    border-radius: 10px;
}

.container .form{
    padding: 30px 40px;
}
.container .form-group{
   
}

.container .form-control{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.container h2{
    text-align: center;
}

.form-group label{
    display: block;
    margin: 5px;
}

.container .btn{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border:0;
    border-radius: 5px;

    cursor: pointer;

    color: #fff;
    background-color: var(--button);
    transition: background-color .5s;
}

.container .btn:hover{
    background-color: var(--hover);
}

.container .btn:active{
    background-color: var(--active);
}