nav{
    width: 1200px;
    background-color: steelblue;
}
nav ul{
    /* list-style: none; */
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
}
nav ul li{
    width: 250px;
    height: 50px;
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
}